<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<div class="home-one">
  <app-page-header style="display: none;"></app-page-header>
  
  <section>
    <!-- <div class="container" style=" width: 80%;font-size:12px;">
      <div class="content-box">
        <h1 style="color: black;">Your Transaction is Done Successfully</h1>
      </div>
      <button type="button" class="btn btn-primary btn-xs" [routerLink]="['/loanhistory']">Back</button>
    </div> -->
    <div class="container">
      <div class="row justify-content-center"> 
        <!-- style="height: 40px;width: 40px;text-align: center;margin-left: 42%;" -->
        <!-- <div class="col-md-6 col-md-offset-3"> -->
          <img src="assets/images/logo.png" alt="" style="width:15% !important;text-align:center;">
        <!-- </div> -->
      </div>
      <div class="row justify-content-center"> 
        <!-- style="background-color: #ffff;width: 50%;border: 2px solid #355c84;padding: 50px;margin-top: -20px;margin-left: 250px;" -->
      <div class="col-md-6 col-md-offset-3 align-center" style="background-color: #ffff;border: 2px solid #355c84;padding-right: 0px;padding-left: 0px;">
        <!-- style="background-color:#355c84;border: 1px solid #355c84;padding: -10px;margin:-30px;color: #fff;text-align: center;" -->
        <div class="col-md-12" style="background-color:#355c84;border: 1px solid #355c84;color: #fff;text-align: center;">Payment Confirmation</div>
        <div style="margin-top: 40px;">
          <div class="form-group row" >
            <div class="col"> 
            Status:
            </div>
            <div class="col"> 
             {{this.status}}
            </div>
          </div>
          <div class="form-group row">
            <div class="col"> 
              Paid To:
            </div>
            <div class="col"> 
              {{this.collector_name}}
            </div>
          </div>
          <div class="form-group row">
            <div class="col"> 
              Amount:
            </div>
            <div class="col"> 
              {{this.amount}}
            </div>
          </div>
          <!-- <div class="form-group row">
            <div class="col"> 
              Notes:
            </div>
            <div class="col"> 
              {{this.description}}
            </div>
          </div> -->
          <div class="form-group row">
            <div class="col"> 
              Payment Id:
            </div>
            <div class="col"> 
              {{this.payment_id}}
            </div>
          </div>
        </div>
      </div>
      
    </div>
  
      
</div>
</section>

  <!-- Payment service section start -->
  <!-- <section class="payment-service bg-offwhite">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="content-box">
            <h2>Why To User Our Platform</h2>
            <ul class="list">
              <li><i class="fas fa-check-circle"></i> One stop solution for all bill payment needes. </li>
              <li><i class="fas fa-check-circle"></i> Pay your house rent any time from anywhere.</li>
              <li><i class="fas fa-check-circle"></i> Get instant loan and pay easy EMI using our mobile apps.</li>
              <li><i class="fas fa-check-circle"></i> Accessable anywhere and any time using our mobile app on android and iOS.</li>
              <li><i class="fas fa-check-circle"></i> Fast and secure money transfer.</li>
            </ul>
             <a href="javascript:void(0)" class="btn btn-default"><span class="bh"></span> <span>try it now</span></a> 
          </div>
        </div>
        <div class="col-md-6">
          <figure class="imgBox">
            <img src="assets/images/payment-service.png" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Payment service section end -->

   <!-- Testimonial section start -->
   <!-- <section class="testimonial-v2">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">What Our Users Say About Us</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-12 m-auto">
          <div class="testimonialBox">
            <span class="quote-sign"><i class="fas fa-quote-left"></i></span>
            <div class="test-caro-2 owl-carousel" data-slider-id="1">
              <div class="single-testimonial">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  eco
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                  lacus vel facilisis.</p>
              </div>
              <div class="single-testimonial">
                <p>Ypsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore eco
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                  lacus vel facilisis.</p>
              </div>
              <div class="single-testimonial">
                <p>Qonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore eco dolore magna aliqua. Quis
                  ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
              </div>
            </div>
            <div class="client-thumb owl-thumbs" data-slider-id="1">
              <a href="javascript:void(0)" class="owl-thumb-item"><img src="assets/images/avatar.png" alt=""></a>
              <a href="javascript:void(0)" class="owl-thumb-item"><img src="assets/images/avatar.png" alt=""></a>
              <a href="javascript:void(0)" class="owl-thumb-item"><img src="assets/images/avatar.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Testimonial section end -->
  <!-- <app-page-footer></app-page-footer> -->
</div>

