<div class="home-one">
  <app-page-header></app-page-header>
  <!-- Banner section start -->
  <!-- <section class="banner v1">
     <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">-->
         <!-- <div class="ban-content text-center">-->
           <!-- <h1>Transfer Money Across World in Real Time <br>With No Charge</h1>-->
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore <br> magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas .</p> -->
            <!-- <a routerLink="/landing-page-send" class="btn btn-default"><span class="bh"></span> <span>Send Money</span>
            </a>
            <a routerLink="/landing-page-receive" class="btn btn-outline btn-round"><span class="bh"></span>
              <span>Receive
                Money</span></a> -->
       <!--   </div>
        </div>
      </div>
    </div>
  </section>  -->
  <!-- Banner section end -->

  <section>
    <div class="container" style="margin-left: 200px;">

      <!--Viren changes-->

      <div class="container">



    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <!-- <a class="nav-link" href="#">Link</a> -->
              <div class="col-auto">
                <button class="btn btn-default btn-rounded-54 shadow"><i class="material-icons">Due Pay</i></button>
            </div>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="#">Link</a> -->
              <div class="col-auto">
                <button class="btn btn-default btn-rounded-54 shadow"><i class="material-icons">We Pay</i></button>
            </div>
            </li>
            <li class="nav-item active">
              <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
              <div class="col-auto">
                <button class="btn btn-default btn-rounded-54 shadow"><i class="material-icons">Payment History</i></button>
            </div>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="#">Link</a> -->
              <div class="col-auto">
                <button class="btn btn-default btn-rounded-54 shadow"><i class="material-icons">Log Out</i></button>
            </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-th-list"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Due Pay</a>
                <a class="dropdown-item" href="#">We Pay</a>
                <a class="dropdown-item" href="#">Payment History</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log Out</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!-- <div class="container-fluid"> -->
        <!-- <h1 class="mt-4">Simple Sidebar</h1>
        <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p> -->
      <!-- </div> -->
    </div>
    <!-- /#page-content-wrapper -->


        <div class="card bg-template shadow mt-4 h-200">
          <div class="card-body">
            <div class="row">
              <div class="col-auto">
                <figure class="avatar avatar-60"><img src="../assets/images/user1.png" alt=""></figure>
              </div>
              <div class="col pl-0 align-self-center">
                <h5 class="mb-1">{{fullname}}</h5>
                <p class="text-mute small">{{email}}</p>
                <p class="text-mute small">{{phone}}</p>
            </div>
            <div class="col">
              <h3 class="mb-0 font-weight-normal">KWD {{totalDue}}.00</h3>
              <p class="text-mute">Total Due</p>
          </div>
<i class="fa fa-pencil fa-fw"></i>

        </div>
          </div>
        </div>
      </div>
      <div class="container top-100">
        <div class="card mb-4 shadow">
            <div class="card-body border-bottom">
                <div class="row">
                    <div class="col">
                        <h3 class="mb-0 font-weight-normal">KWD 1548.00</h3>
                        <p class="text-mute">Rent Balance</p>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-default btn-rounded-54 shadow"><i class="material-icons">Pay</i></button>
                    </div>
                </div>
            </div>

            <div class="card-body border-bottom">
              <div class="row">
                  <div class="col">
                      <h3 class="mb-0 font-weight-normal">KWD 1548.00</h3>
                      <p class="text-mute">Car Loan EMI</p>
                  </div>
                  <div class="col-auto">
                      <button class="btn btn-default btn-rounded-54 shadow"><i class="material-icons">Pay</i></button>
                  </div>
              </div>
          
          
            </div>
            <div class="card-body border-bottom">
              <div class="row">
                  <div class="col">
                      <h3 class="mb-0 font-weight-normal">KWD 1548.00</h3>
                      <p class="text-mute">Personal Loan EMI</p>
                  </div>
                  <div class="col-auto">
                      <button class="btn btn-default btn-rounded-54 shadow"><i class="material-icons">Pay</i></button>
                  </div>
              </div>
          
          
            </div>
            
          </div>
    </div>

    </div>
  </section>


  <!-- Overview section start -->
  <!-- <section class="overview">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="content-box">
            <h2>Simple and Easy Solution for Transfer Money Safe and Faster Way</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
            <a href="javascript:void(0)" class="btn btn-default"><span class="bh"></span> <span>Learn More</span></a>
          </div>
        </div>
        <div class="col-md-6 offset-md-1">
          <div class="row">
            <div class="col-sm-6">
              <div class="iconBox mb100">
               
                <span class="roysha-icon roysha-bank">
                  <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                    class="path4"></span><span class="path5"></span><span class="path6"></span>
                </span>

                <h5><a href="javascript:void(0)">24/7 Services</a></h5>
                <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="iconBox mb100">
               
                <span class="roysha-icon roysha-cash">
                  <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                    class="path4"></span><span class="path5"></span><span class="path6"></span><span
                    class="path7"></span><span class="path8"></span><span class="path9"></span><span
                    class="path10"></span>
                </span>

                <h5><a href="javascript:void(0)">Instant Cashout</a></h5>
                <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="iconBox">
              
                <span class="roysha-icon roysha-encrypted"><span class="path1"></span><span class="path2"></span><span
                    class="path3"></span><span class="path4"></span><span class="path5"></span><span
                    class="path6"></span><span class="path7"></span><span class="path8"></span><span
                    class="path9"></span><span class="path10"></span><span class="path11"></span><span
                    class="path12"></span><span class="path13"></span></span>

                <h5><a href="javascript:void(0)">Fully Encrypted </a></h5>
                <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="iconBox">
              
                <span class="roysha-icon roysha-safe"><span class="path1"></span><span class="path2"></span><span
                    class="path3"></span></span>

                <h5><a href="javascript:void(0)">Safe and Secure</a></h5>
                <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Overview section end -->


  <!-- Home send money section start -->
   <!--<section class="home-send-money bg-offwhite">
    <div class="container">
      <div class="row align-items-md-center">
        <div class="col-md-5">
          <div class="mbl-screen">
          
            <img src="assets/images/an1/1.png" alt="" class="an1 animg1 leaf">
            <img src="assets/images/an1/2.png" alt="" class="an1 animg2">
            <img src="assets/images/an1/3.png" alt="" class="an1 animg3">
            <img src="assets/images/an1/5.png" alt="" class="an1 animg5">
            <img src="assets/images/an1/4.png" alt="" class="an1 animg4">


          </div>
        </div>
        <div class="col-md-6 offset-md-1">
          <div class="content-box">
            <span class="tagline bar">FAst Transfer</span>
            <h2>Send Money Anytime, Anywhere In a Minute</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</p>
            <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Quis ipsum suspendisse ultrices gravida. </p>
            <a href="javascript:void(0)" class="btn btn-default"><span class="bh"></span> <span>Send Money</span></a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Home send money section end -->

  <!-- Home receive money section start -->
  <!-- <section class="home-recv-money">
    <div class="container-fluid">
      <div class="row align-items-md-center">
        <div class="col-md-6">
          <div class="content-box-fluid right">
            <span class="tagline bar">Charge Free</span>
            <h2>Receive Your Money With No Charge</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</p>
            <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Quis ipsum suspendisse ultrices gravida. </p>
            <a href="javascript:void(0)" class="btn btn-default"><span class="bh"></span> <span>Find a
                Location</span></a>
          </div>
        </div>
        <div class="col-md-6 nopadd-rth">
          <figure class="recv-img">
            <img src="assets/images/an2/1.png" alt="">
            <img src="assets/images/an2/2.png" alt="" class="rcvMobile">
          </figure>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Home receive money section end -->


  <!-- Payment section start -->
  <!-- <section class="payment bg-offwhite">
    <div class="container">
      <div class="row align-items-md-center">
        <div class="col-md-6">
          <figure class="pay-img">
            <img src="assets/images/an3/2.png" alt="" class="an3">
            <img src="assets/images/an3/3.png" alt="" class="an3">
            <img src="assets/images/an3/4.png" alt="" class="an3">
            <img src="assets/images/an3/5.png" alt="" class="an3">
            <img src="assets/images/an3/6.png" alt="" class="an3">
            <img src="assets/images/online-payment.png" alt="">

          </figure>
        </div>
        <div class="col-md-6">
          <div class="content-box">
            <span class="tagline bar">Online Payment</span>
            <h2>Make Your Online Payment Almost Every Site</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</p>
            <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Quis ipsum suspendisse ultrices gravida. </p>
            <a href="javascript:void(0)" class="btn btn-default"><span class="bh"></span> <span>Make a
                Payment</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>  -->
  <!-- Payment section end -->

  <!-- Features section start -->
  <section class="features">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-9 m-auto">
          <div class="sec-heading text-center">
            <h2 class="sec-title">We Bring Everything In One Place</h2>
            <p class="sec-subtitle">Trouble in managing multiple payments? Now paying bills have become easy. Pay all bills, house rents, and loan EMI on a fingertip. We provide all in one simple solution to manage all payments on your fingertip.</p>
          </div>
        </div>
      </div>
      <p></p>
      <div class="features-scrns">
        <figure class="scrn-1"><img src="assets/images/scrn-1.png" alt=""></figure>
        <figure class="scrn-2"><img src="assets/images/scrn-2.png" alt=""></figure>
        <figure class="scrn-3"><img src="assets/images/scrn-3.png" alt=""></figure>
      </div>
    </div>
  </section>
  <!-- Features section end -->

  <!-- speciality section start -->
   <section class="speciality bg-offwhite">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <span class="tagline">Our Speciality</span>
            <h2 class="sec-title">We Bring Everything In One Place</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="iconBox boxed-shadow text-center">
            
            <span class="roysha-icon roysha-encrypted"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span></span>

            <h5><a href="javascript:void(0)">Fully Secure Payment</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="iconBox boxed-shadow text-center">
           
            <span class="roysha-icon roysha-money-tracking"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span><span
                class="path15"></span></span>

            <h5><a href="javascript:void(0)">No Transition Charge</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="iconBox boxed-shadow text-center">
           
            <span class="roysha-icon roysha-hand-cash"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span></span>

            <h5><a href="javascript:void(0)">Cashout In a Minute</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- speciality section end -->

  <!-- Testimonial section start -->
 <!-- <section class="testimonial">
   <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <span class="tagline">Clients Opinion</span>
            <h2 class="sec-title">What Users Say About US</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="test-caro owl-carousel">
        <div class="single-testimonial">
          <div class="tst-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod pempor incididunt ut labore et dolore
            magna aliqua. Quis ipsum suspen risse ultrices gravida.
          </div>
          <div class="tst-head">
            <img src="assets/images/avatar.png" class="avatar" alt="">
            <h6>Jhon Doe</h6>
            <span>Business analist</span>
          </div>
        </div>
        <div class="single-testimonial">
          <div class="tst-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod pempor incididunt ut labore et dolore
            magna aliqua. Quis ipsum suspen risse ultrices gravida.
          </div>
          <div class="tst-head">
            <img src="assets/images/avatar.png" class="avatar" alt="">
            <h6>Jhon Doe</h6>
            <span>Business analist</span>
          </div>
        </div>
        <div class="single-testimonial">
          <div class="tst-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod pempor incididunt ut labore et dolore
            magna aliqua. Quis ipsum suspen risse ultrices gravida.
          </div>
          <div class="tst-head">
            <img src="assets/images/avatar.png" class="avatar" alt="">
            <h6>Jhon Doe</h6>
            <span>Business analist</span>
          </div>
        </div>
      </div>
    </div> 
  </section>-->
  <!-- Testimonial section end -->
  <app-page-footer></app-page-footer>
</div>
