<div class="home-one">
  <app-page-header></app-page-header>
  <!-- Banner section start -->
  <section class="banner nopadd-btm">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 m-auto">
          <div class="ban-content text-center">
            <h1>Receive Money In a Minute With Sufficent Cost Around The World</h1>
          </div>
        </div>
      </div>
    </div>
    <img class="card-scrn-img" src="assets/images/scrn-card.png" alt="">
  </section>
  <!-- Banner section end -->

  <!-- About overview section start -->
  <section class="about-overview">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">What We Do For You</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="iconBox boxed text-center">
            <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-diposite"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span></span>

            <h5><a href="javascript:void(0)">Bank Deposit</a></h5>
            <p>Lorem ipsum qite coctetr asipm scing elised eiusmtmr incidid untdre consistal.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="iconBox boxed text-center">
            <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-cash"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span></span>

            <h5><a href="javascript:void(0)">Cash Pickup</a></h5>
            <p>Lorem ipsum qite coctetr asipm scing elised eiusmtmr incidid untdre consistal.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="iconBox boxed text-center">
            <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-secured"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span></span>

            <h5><a href="javascript:void(0)">Online Payment</a></h5>
            <p>Lorem ipsum qite coctetr asipm scing elised eiusmtmr incidid untdre consistal.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="iconBox boxed text-center">
            <!-- <img src="assets/images/icons/4.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-safe"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span></span>

            <h5><a href="javascript:void(0)">Mobile Wallet</a></h5>
            <p>Lorem ipsum qite coctetr asipm scing elised eiusmtmr incidid untdre consistal.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About overview section end -->

  <!-- Payment service section start -->
  <section class="payment-service bg-offwhite">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="content-box">
            <h2>Why Choose Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
            <div class="iconBox listBox">
              <!-- <img src="assets/images/icons/60X60/1.png" alt="" class="img-icon"> -->

              <!-- Roysha icon -->
              <span class="roysha-icon roysha-hand-cash"><span class="path1"></span><span class="path2"></span><span
                  class="path3"></span><span class="path4"></span><span class="path5"></span><span
                  class="path6"></span><span class="path7"></span><span class="path8"></span><span
                  class="path9"></span><span class="path10"></span></span>

              <h5><a href="javascript:void(0)">Get Your Money In a Minute</a></h5>
              <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
            </div>
            <div class="iconBox listBox">
              <!-- <img src="assets/images/icons/60X60/2.png" alt="" class="img-icon"> -->

              <!-- Roysha icon -->
              <span class="roysha-icon roysha-fast-transfer"><span class="path1"></span><span class="path2"></span><span
                  class="path3"></span><span class="path4"></span><span class="path5"></span><span
                  class="path6"></span><span class="path7"></span><span class="path8"></span><span
                  class="path9"></span><span class="path10"></span><span class="path11"></span><span
                  class="path12"></span><span class="path13"></span><span class="path14"></span><span
                  class="path15"></span><span class="path16"></span><span class="path17"></span><span
                  class="path18"></span></span>

              <h5><a href="javascript:void(0)">Pay Your Online Payment With No Charge</a></h5>
              <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
            </div>
            <div class="iconBox listBox">
              <!-- <img src="assets/images/icons/60X60/3.png" alt="" class="img-icon"> -->

              <!-- Roysha icon -->
              <span class="roysha-icon roysha-wallet"><span class="path1"></span><span class="path2"></span><span
                  class="path3"></span><span class="path4"></span><span class="path5"></span><span
                  class="path6"></span><span class="path7"></span><span class="path8"></span><span
                  class="path9"></span><span class="path10"></span><span class="path11"></span><span
                  class="path12"></span><span class="path13"></span><span class="path14"></span></span>

              <h5><a href="javascript:void(0)">Digital Wallet and Mobile Banking</a></h5>
              <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <figure class="imgBox">
            <img src="assets/images/payment-service-4.png" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- Payment service section end -->

  <!-- Video section start -->
  <section class="banner video">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto text-center">
          <div class="sec-heading">
            <h2 class="sec-title">How We Work For You</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
          <a href="https://vimeo.com/191947042" class="video-btn" data-fancybox><i class="fas fa-play"></i></a>
          <a href="javascript:void(0)" class="btn btn-outline btn-round"><span class="bh"></span> <span>View More
              Offers</span></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Video section end -->

  <!-- Banking partners start -->
  <section class="bank-partners">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="content-box">
            <h2>Our Top Banking Partners, Your Money Is Safe With Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quissum pendisse ultrices gravida. Risus commodo viverra maecenas</p>
            <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod temididunt utlab oreet dolore magna aliqua.</p>
            <a href="javascript:void(0)" class="btn btn-filled btn-round"><span class="bh"></span> <span>Learn
                More</span></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-6">
              <figure class="bankImg">
                <img src="assets/images/bank/1.png" alt="">
              </figure>
            </div>
            <div class="col-6">
              <figure class="bankImg">
                <img src="assets/images/bank/2.png" alt="">
              </figure>
            </div>
            <div class="col-6">
              <figure class="bankImg">
                <img src="assets/images/bank/3.png" alt="">
              </figure>
            </div>
            <div class="col-6">
              <figure class="bankImg">
                <img src="assets/images/bank/4.png" alt="">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Banking partners end -->

  <!-- Team section start -->
  <section class="team bg-offwhite">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto text-center">
          <div class="sec-heading">
            <h2 class="sec-title">Meet With Our Leaders</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="team-member">
            <img src="assets/images/members/1.jpg" alt="" class="memb-thumb">
            <div class="memb-info">
              <h6><a href="javascript:void(0)">Jhon Doe</a></h6>
              <span>Lead Manager</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member">
            <img src="assets/images/members/2.jpg" alt="" class="memb-thumb">
            <div class="memb-info">
              <h6><a href="javascript:void(0)">Shelly Miller</a></h6>
              <span>Marketing Head</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member">
            <img src="assets/images/members/3.jpg" alt="" class="memb-thumb">
            <div class="memb-info">
              <h6><a href="javascript:void(0)">Cristofer L.</a></h6>
              <span>Lead Designer</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="team-member">
            <img src="assets/images/members/4.jpg" alt="" class="memb-thumb">
            <div class="memb-info">
              <h6><a href="javascript:void(0)">Michel Shon</a></h6>
              <span>Lead Developer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team section end -->

  <!-- Testimonial section start -->
  <section class="testimonial-v3">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">What Our Users Say About Us</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-12 m-auto">
          <div class="testimonialBox">
            <div class="test-caro-3 owl-carousel" data-slider-id="1">
              <div class="single-testimonial">
                <div class="tst-head">
                  <img src="assets/images/avatar.png" class="avatar" alt="">
                  <h6>Jhon Doe</h6>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  eco dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                  accumsan lacus vel facilisis.</p>
              </div>
              <div class="single-testimonial">
                <div class="tst-head">
                  <img src="assets/images/avatar.png" class="avatar" alt="">
                  <h6>Jhon Doe</h6>
                </div>
                <p>Ypsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore eco
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                  lacus vel facilisis.</p>
              </div>
              <div class="single-testimonial">
                <div class="tst-head">
                  <img src="assets/images/avatar.png" class="avatar" alt="">
                  <h6>Jhon Doe</h6>
                </div>
                <p>Qonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore eco dolore magna aliqua. Quis
                  ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonial section end -->
  <app-page-footer></app-page-footer>
</div>
