<div class="home-one">
  <app-page-header></app-page-header>
   <!-- Banner section start -->
   <!-- <section class="banner v1">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="ban-content text-center">
            <h1>Transfer Money Across World in Real Time <br>With No Charge</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore <br> magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas .</p> -->
            <!-- <a routerLink="/landing-page-send" class="btn btn-default"><span class="bh"></span> <span>Send Money</span>
            </a>
            <a routerLink="/landing-page-receive" class="btn btn-outline btn-round"><span class="bh"></span>
              <span>Receive
                Money</span></a> 
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Banner section end -->
  <section>
    <div class="container" style=" width: 80%;font-size:12px;">
        <table id="example" class="table table-striped table-bordered" style="width:100%;">
            <thead>
                <tr>
                   <th>Total Amount</th>
                    <th>Monthly Payment</th>
                    <th>Amount Paid</th>
                    <th>Due Amount</th>
                    <th>Paid Date</th>
                    <!-- <th>Remaining Amount</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of userloanhistorylist">
                    <td>{{list.total_amount}}</td>
                    <td>{{list.monthly_payment}}</td>
                    <td>{{list.amount_paid}}</td>
                    <td>{{list.due_amount}}</td>
                    <td>{{list.updatedAt}}</td>
                    <!-- <td>{{list.remaining_amount}}</td> -->
                  </tr>
              
            </tbody>
        </table>
    </div>
</section>
  <app-page-footer></app-page-footer>
</div>