<!-- Footer strat -->
<footer class="footer">
  <div class="foo-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget foo-nav">
            <h5>Access Us</h5>
            <ul>
              <li><a href="javascript:void(0)">About Us</a></li>
              <li><a href="javascript:void(0)">Payment</a></li>
              <li><a href="javascript:void(0)">Send Money</a></li>
              <li><a href="javascript:void(0)">Receive Money</a></li>
              <li><a href="javascript:void(0)">Fees</a></li>
              <li><a href="javascript:void(0)">Services</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget foo-nav">
            <h5>Help Center</h5>
            <ul>
              <li><a href="javascript:void(0)">Customer Care</a></li>
              <li><a href="javascript:void(0)">Contact Us</a></li>
              <li><a href="javascript:void(0)">Live Chat</a></li>
              <li><a href="javascript:void(0)">Payment</a></li>
              <li><a href="javascript:void(0)">Custom API</a></li>
              <li><a href="javascript:void(0)">Affiliate</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget foo-nav">
            <h5>Follow Us</h5>
            <ul>
              <li><a href="javascript:void(0)">Blog</a></li>
              <li><a href="javascript:void(0)">Facebook</a></li>
              <li><a href="javascript:void(0)">Twitter</a></li>
              <li><a href="javascript:void(0)">Linkedin</a></li>
              <li><a href="javascript:void(0)">Youtube</a></li>
              <li><a href="javascript:void(0)">Forum</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget foo-nav">
            <h5>Partners</h5>
            <ul>
              <li><a href="javascript:void(0)">Refer A Friend</a></li>
              <li><a href="javascript:void(0)">Affiliate Programs</a></li>
              <li><a href="javascript:void(0)">Payment API</a></li>
              <li><a href="javascript:void(0)">Partner Directory</a></li>
              <li><a href="javascript:void(0)">Become A Partner</a></li>
              <li><a href="javascript:void(0)">Find Locations</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget foo-nav">
            <h5>Services</h5>
            <ul>
              <li><a href="javascript:void(0)">Transfer Money</a></li>
              <li><a href="javascript:void(0)">Saving Account</a></li>
              <li><a href="javascript:void(0)">Online Shopping</a></li>
              <li><a href="javascript:void(0)">Pay Bills</a></li>
              <li><a href="javascript:void(0)">Credit Service</a></li>
              <li><a href="javascript:void(0)">Ecommerce</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget foo-address">
            <h5>Stay In Touch</h5>
            <address>
              <a href="malto:ervice@email.com">ervice@email.com</a>
              <a href="tel:+12345678921">+123 4567 8921</a>
            </address>
            <address>
              Rokaz, Chok Bazar
              123 Newyork City
              United State
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="foo-btm">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="foo-navigation">
            <ul>
              <li><a href="javascript:void(0)">Terms and Conditions</a></li>
              <li><a href="javascript:void(0)">Privacy & Policy</a></li>
              <li><a href="javascript:void(0)">Legal</a></li>
              <li><a href="javascript:void(0)">Notice</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="copyright">Copyright &copy; <a href="http://themeies.com">themeies</a> - 2019</div>
        </div>
      </div>
    </div>
  </div>
</footer>
