<div class="home-one">
  <app-page-header></app-page-header>
  <!-- Banner section start -->
  <section class="banner v7">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 m-auto">
          <div class="ban-content text-center">
            <h1>Receive Money In a Minute With Sufficent Cost Around The World</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.<br>Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas .</p>
            <a href="javascript:void(0)" class="btn btn-filled btn-round"><span class="bh"></span> <span>Track
                MTCN</span></a>
            <a href="javascript:void(0)" class="btn btn-filled btn-round"><span class="bh"></span> <span>Find
                Location</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner section end -->

  <!-- Easy steps section start -->
  <section class="easy-steps">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">Easy and Fast Way to Send Money</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 m-auto">
          <ul class="steps">
            <li><span>1</span> Select Country</li>
            <li><span>2</span> Choose Service</li>
            <li><span>3</span> Input Information</li>
            <li><span>4</span> Confirm and Send</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Easy steps section end -->

  <!-- Landing overview section start -->
  <section class="landing-overview bg-offwhite">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">More Ways to Receive Money</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-diposite"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span></span>

            <h5><a href="javascript:void(0)">Bank Deposit</a></h5>
            <p>Lorem ipsum qite coctetr asipm scing elised eiusmtmr incidid untdre consistal.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-hand-cash"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span></span>

            <h5><a href="javascript:void(0)">Cash Pickup</a></h5>
            <p>Lorem ipsum qite coctetr asipm scing elised eiusmtmr incidid untdre consistal.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-mobile-bank"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span></span>

            <h5><a href="javascript:void(0)">Mobile Wallet</a></h5>
            <p>Lorem ipsum qite coctetr asipm scing elised eiusmtmr incidid untdre consistal.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-cash-pin"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span></span>

            <h5><a href="javascript:void(0)">Cash by PIN</a></h5>
            <p>Lorem ipsum qite coctetr asipm scing elised eiusmtmr incidid untdre consistal.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Landing overview section end -->

  <!-- Payment service section start -->
  <section class="payment-service">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="content-box">
            <h2>Why Send Money with Our Payment Service</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</p>
            <div class="iconBox listBox">
              <img src="assets/images/icons/60X60/1.png" alt="" class="img-icon">
              <h5><a href="javascript:void(0)">24/7 Services</a></h5>
              <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
            </div>
            <div class="iconBox listBox">
              <img src="assets/images/icons/60X60/2.png" alt="" class="img-icon">
              <h5><a href="javascript:void(0)">24/7 Services</a></h5>
              <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
            </div>
            <div class="iconBox listBox">
              <img src="assets/images/icons/60X60/3.png" alt="" class="img-icon">
              <h5><a href="javascript:void(0)">24/7 Services</a></h5>
              <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <figure class="imgBox">
            <img src="assets/images/payment-service-2.png" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- Payment service section end -->

  <!-- Video section start -->
  <section class="banner video">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto text-center nopadd">
          <div class="sec-heading">
            <h2 class="sec-title">We Bring Everything In One Place to Make Your Money Transfer Process More Easier</h2>
          </div>
          <a href="https://vimeo.com/191947042" class="video-btn" data-fancybox><i class="fas fa-play"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Video section end -->

  <!-- System works start -->
  <section class="system-works">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">More Ways to Receive Money</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs cmn-tab-nav">
            <li><a class="active" data-toggle="tab" href="#get-payment">Get Payment</a></li>
            <li><a data-toggle="tab" href="#track-money">Track Money</a></li>
            <li><a data-toggle="tab" href="#withdraw">Withdraw</a></li>
          </ul>

          <div class="tab-content">
            <div id="get-payment" class="tab-pane fade in active show">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <figure class="imgBox">
                    <img src="assets/images/deposit-map-2.png" alt="">
                  </figure>
                </div>
                <div class="col-md-6">
                  <div class="content-box">
                    <h2>Give Your Information to Sender</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <ul class="steps vertical">
                      <li>
                        <span>1</span>
                        Find a Nearest Location or Wallet
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                      <li>
                        <span>2</span>
                        Confirm Your Identity or Access Wallet
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                      <li>
                        <span>3</span>
                        Confirm Your Access and Request Payment
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div id="track-money" class="tab-pane fade">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="content-box">
                    <h2>Give Your Information to Sender</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <ul class="steps vertical">
                      <li>
                        <span>1</span>
                        Find a Nearest Location or Wallet
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                      <li>
                        <span>2</span>
                        Confirm Your Identity or Access Wallet
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                      <li>
                        <span>3</span>
                        Confirm Your Access and Request Payment
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <figure class="imgBox">
                    <img src="assets/images/app-img.png" alt="">
                  </figure>
                </div>
              </div>
            </div>
            <div id="withdraw" class="tab-pane fade">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="content-box">
                    <h2>Give Your Information to Sender</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <ul class="steps vertical">
                      <li>
                        <span>1</span>
                        Find a Nearest Location or Wallet
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                      <li>
                        <span>2</span>
                        Confirm Your Identity or Access Wallet
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                      <li>
                        <span>3</span>
                        Confirm Your Access and Request Payment
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <figure class="imgBox">
                    <img src="assets/images/internet-bill.png" alt="">
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- System works end -->

  <!-- App section start -->
  <section class="app bg-offwhite">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <figure class="imgBox">
            <img src="assets/images/ani5/1.png" alt="" class="ani5 ani5img1">
            <img src="assets/images/ani5/2.png" alt="" class="ani5 ani5img2">
            <img src="assets/images/ani5/3.png" alt="" class="ani5 ani5img3">
            <img src="assets/images/ani5/4.png" alt="" class="ani5 ani5img4">
            <img src="assets/images/ani5/5.png" alt="" class="ani5 ani5img5">
            <img src="assets/images/ani5/6.png" alt="" class="ani5 ani5img6">
          </figure>
        </div>
        <div class="col-md-6">
          <div class="content-box">
            <h2>Download Our Mobile Apps</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
            <a href="javascript:void(0)" class="btn btn-default icon-left"><span class="bh"></span> <span><i
                  class="fab fa-android"></i>
                Google play</span></a>
            <a href="javascript:void(0)" class="btn btn-default icon-left"><span class="bh"></span> <span><i
                  class="fab fa-apple"></i>
                App
                store</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- App section end -->
  <app-page-footer></app-page-footer>
</div>
