<div class="contact-page">
  <app-page-header></app-page-header>
  <!-- Banner section start -->
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto">
          <div class="ban-content text-center">
            <h1>Contact Information</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas .</p>
            <a href="https://vimeo.com/191947042" class="video-btn" data-fancybox><i class="fas fa-play"></i></a>
            <span class="simple-txt">Call to Helpline</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner section end -->

  <!-- Contact section start -->
  <section class="contact">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 nopadd-rth">
          <div class="contact-from-wrap">
            <div class="sec-heading">
              <h2 class="sec-title">Get In Touch</h2>
              <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <form class="contact-form clearfix">
              <div class="form-group row align-items-end">
                <div class="col-sm-6 mb-4 mb-sm-0">
                  <label>Your name</label>
                  <input type="text" class="form-control" placeholder="First name" required>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </div>
              <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" placeholder="Your email" required>
              </div>
              <div class="form-group">
                <label>Write message</label>
                <textarea class="form-control" placeholder="Your messege" required></textarea>
              </div>
              <button type="submit" class="btn btn-filled btn-round"><span class="bh"></span> <span>Send</span></button>
            </form>
          </div>
        </div>
        <div class="col-md-5 nopadd-ltf">
          <div class="contact-info-wrap">
            <address>
              <i class="fas fa-envelope"></i>
              <span>Email Address</span>
              <a href="javascript:void(0)">youremail@domain.com</a>
              <a href="javascript:void(0)">help@example.com</a>
            </address>
            <address>
              <i class="fas fa-phone-alt"></i>
              <span>Phone Number</span>
              <a href="tel:+12345678912">+123 4567 8912</a>
              <a href="tel:+32176542198">+321 7654 2198</a>
            </address>
            <address>
              <i class="fas fa-map-marker-alt"></i>
              <span>Our Head Office</span>
              Address line 1, Avg Centre Point. <br>
              Level 5, New Yourk City - USA
            </address>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact section end -->

  <!-- Contact Media start -->
  <section class="contact-media bg-offwhite">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto text-center">
          <div class="sec-heading">
            <h2 class="sec-title">Connect With Our Social Medias</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut abore.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-sm-4 col-6">
          <a href="javascript:void(0)" class="cm-box">
            <i class="fab fa-facebook-f"></i>
            Facebook
          </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
          <a href="javascript:void(0)" class="cm-box">
            <i class="fab fa-twitter"></i>
            Twitter
          </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
          <a href="javascript:void(0)" class="cm-box">
            <i class="fab fa-instagram"></i>
            Instagram
          </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
          <a href="javascript:void(0)" class="cm-box">
            <i class="fab fa-vimeo-v"></i>
            Vimeo
          </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
          <a href="javascript:void(0)" class="cm-box">
            <i class="fab fa-youtube"></i>
            Youtube
          </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-6">
          <a href="javascript:void(0)" class="cm-box">
            <i class="fab fa-linkedin"></i>
            Linkedin
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Media end -->

  <!-- Contact Map start -->
  <section class="contact-map">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto text-center">
          <div class="sec-heading">
            <h2 class="sec-title">We Are Available All Over The World</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div id="map">
            <img src="assets/images/map.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Map end -->
  <app-page-footer></app-page-footer>
</div>
