<div class="home-one">
  <app-page-header></app-page-header>
   <!-- Banner section start -->
   <!-- <section class="banner v1">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="ban-content text-center">
            <h1>Transfer Money Across World in Real Time <br>With No Charge</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore <br> magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas .</p>
            <a routerLink="/landing-page-send" class="btn btn-default"><span class="bh"></span> <span>Send Money</span>
            </a>
            <a routerLink="/landing-page-receive" class="btn btn-outline btn-round"><span class="bh"></span>
              <span>Receive
                Money</span></a> 
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Banner section end -->
  <section>
    <div class="container">
      <form [formGroup]="paymentForm" autocomplete="off">
        <div class="form-group">
          <label for="amount_paid">{{'PAYLOAN.AMOUNT_PAID' | translate }}</label>
          <input type="text" class="form-control"  placeholder="{{'VALIDATION.ENTER_AMOUNT' | translate }}" formControlName="amount_paid" required disabled>
          <div *ngIf="isControlHasError('amount_paid','required')" class="alert alert-danger">{{'VALIDATION.Amount_REQUIRED_FIELD' | translate }}</div>
        </div>
        <div class="form-group">
          <label for="descrpition">{{'LOANHISTORY.DESCRIPITION' | translate }}</label>
          <input type="text" class="form-control" placeholder="{{'VALIDATION.ENTER_DESCRIPTION' | translate }}" formControlName="description" required>
          <div *ngIf="isControlHasError('description','required')" class="alert alert-danger">{{'VALIDATION.DESCRIPTION_REQUIRED_FIELD' | translate }}</div>
        </div>
       <button type="submit" class="btn btn-primary" (click)="submit()">{{'GENERAL.CHECKOUT_BUTTON' | translate }}</button>
      </form>
    </div>
  </section>
  </div>
