<div class="blog-page">
  <app-page-header></app-page-header>
  <!-- Banner section start -->
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto">
          <div class="ban-content text-center">
            <h1>Blog Details</h1>
          </div>
          <div class="breadcrumb">
            <a href="javascript:void(0)">Home</a>
            <span>Blog details</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner section end -->

  <!-- Blog single post section start -->
  <section class="blog-single-post">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <article class="post-item">
            <figure class="post-thumb">
              <img src="assets/images/blog/1.jpg" alt="">
            </figure>
            <h3>Everything You Need To Know About Banking.</h3>
            <div class="post-meta">
              <span class="publish-date">12 Jan, 2019 by</span>
              <a href="javascript:void(0)">Meraz Zabria</a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incidid labore et dolore magna
              aliqua. Quis ipsum suspen disse ultrices gravida. here are many variations of passages of them Lorem Ipsum
              available, but the majority have suffered alteration in some form. Lorem ipsum dolor sit amet, consectetur
              adipiscied do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Quis ipsum suspen disse ultrices gravida. here are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form.</p>
            <p>Praesent orci urna per varius felis magna nullam molestie libero, facilisis a tllamcorper sapien utmpus
              leo, arcu imperdiet nisi taciti varius ultricies est congue posuere justo non felis etiam euismod
              vestibulum majority have suffered alteration in some form vivamus.</p>

            <div class="row mb-4">
              <div class="col-6">
                <figure><img src="assets/images/blog/t1.jpg" alt=""></figure>
              </div>
              <div class="col-6">
                <figure><img src="assets/images/blog/t2.jpg" alt=""></figure>
              </div>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incidid labore et dolore magna
              aliqua. Quis ipsum suspen disse ultrices gravida. here are many variations of passages of them Lorem Ipsum
              available, but the majority have suffered alteration in some form. Lorem ipsum dolor sit amet, consectetur
              adipiscied do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Quis ipsum suspen disse ultrices gravida. here are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form.</p>
            <p>Praesent orci urna per varius felis magna nullam molestie libero, facilisis a tllamcorper sapien utmpus
              leo, arcu imperdiet nisi taciti varius ultricies est congue posuere justo non felis etiam euismod
              vestibulum majority have suffered alteration in some form vivamus.</p>
          </article>

          <div class="social-share">
            <label>Share: </label>
            <a href="javascript:void(0)" style="background-color: #3b5999;"><i class="fab fa-facebook-f"></i></a>
            <a href="javascript:void(0)" style="background-color: #399fed;"><i class="fab fa-twitter"></i></a>
            <a href="javascript:void(0)" style="background-color: #bd081c;"><i class="fab fa-pinterest-p"></i></a>
            <a href="javascript:void(0)" style="background-color: #1cc15a;"><i class="fas fa-phone-alt"></i></a>
            <a href="javascript:void(0)" style="background-color: #0084ff;"><i
                class="fab fa-facebook-messenger"></i></a>
          </div>

          <div class="comments">
            <h4 class="comment-title">comments</h4>
            <ul>
              <li>
                <div class="single-comment">
                  <div class="user-thumb">
                    <img class="avatar" src="assets/images/avatar.png" alt="">
                  </div>
                  <div class="comments-body">
                    <h4>Kosmi Kotalia</h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                      alteration in some form, by injected humour, or randomised words which.</p>
                    <a href="javascript:void(0)">Reply</a>
                  </div>
                </div>
                <ul>
                  <li>
                    <div class="single-comment">
                      <div class="user-thumb">
                        <img class="avatar" src="assets/images/avatar.png" alt="">
                      </div>
                      <div class="comments-body">
                        <h4>Kosmi Kotalia</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                          suffered alteration in some form, by injected humour, or randomised words which.</p>
                        <a href="javascript:void(0)">Reply</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="single-comment">
                  <div class="user-thumb">
                    <img class="avatar" src="assets/images/avatar.png" alt="">
                  </div>
                  <div class="comments-body">
                    <h4>Kosmi Kotalia</h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                      alteration in some form, by injected humour, or randomised words which.</p>
                    <a href="javascript:void(0)">Reply</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="comment-form">
            <div class="user-thumb">
              <img class="avatar" src="assets/images/avatar.png" alt="">
            </div>
            <form action="#">
              <textarea placeholder="Write Comments"></textarea>
              <button class="btn btn-filled btn-round ml-auto"><span class="bh"></span> <span>Submit</span></button>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sidebar">
            <aside class="widget widget_search">
              <form action="#">
                <input type="text" name="s" placeholder="Search ..." required>
                <i class="fas fa-search"></i>
              </form>
            </aside>
            <aside class="widget widget_categories">
              <h3 class="widget-title">Categories</h3>
              <ul>
                <li><a href="javascript:void(0)">Money Saving<span>(12)</span></a></li>
                <li><a href="javascript:void(0)">Mobile Banking<span>(19)</span></a></li>
                <li><a href="javascript:void(0)">Digital Wallet<span>(09)</span></a></li>
                <li><a href="javascript:void(0)">Crypt Currency<span>(21)</span></a></li>
                <li><a href="javascript:void(0)">Money Transfer<span>(05)</span></a></li>
                <li><a href="javascript:void(0)">Banking Investment <span>(11)</span></a></li>
              </ul>
            </aside>
            <aside class="widget widget_recent_entries">
              <h3 class="widget-title">Recent Posts</h3>
              <ul>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
              </ul>
            </aside>
            <aside class="widget widget_recent_entries">
              <h3 class="widget-title">Popular Posts</h3>
              <ul>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
              </ul>
            </aside>
            <aside class="widget widget_tag_cloud">
              <h3 class="widget-title">Keywords</h3>
              <div class="tag-cloud">
                <a href="javascript:void(0)">banking</a>
                <a href="javascript:void(0)">article</a>
                <a href="javascript:void(0)">money</a>
                <a href="javascript:void(0)">saving</a>
                <a href="javascript:void(0)">invest</a>
                <a href="javascript:void(0)">safety</a>
                <a href="javascript:void(0)">credit</a>
                <a href="javascript:void(0)">debit</a>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog single post section end -->
  <app-page-footer></app-page-footer>
</div>
