<div class="blog-page">
  <app-page-header></app-page-header>
  <!-- Banner section start -->
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto">
          <div class="ban-content text-center">
            <h1>Blog</h1>
          </div>
          <div class="breadcrumb">
            <a href="javascript:void(0)">Home</a>
            <span>Blog</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner section end -->

  <!-- Blog posts section start -->
  <section class="blog-posts">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="posts-wrap">
            <article class="post-item">
              <figure class="post-thumb">
                <img src="assets/images/blog/1.jpg" alt="">
              </figure>
              <h3><a routerLink="blog-details">Everything You Need To Know About Banking.</a></h3>
              <div class="post-meta">
                <span class="publish-date">12 Jan, 2019 by</span>
                <a href="javascript:void(0)">Meraz Zabria</a>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incidid labore et dolore magna
                aliqua. Quis ipsum suspen disse ultrices gravida. here are many variations of passages of them Lorem
                Ipsum available, but the majority have suffered alteration in some form.</p>
              <a routerLink="blog-details" class="btn btn-default"><span class="bh"></span> <span>Read more</span></a>
            </article>
            <article class="post-item">
              <figure class="post-thumb">
                <img src="assets/images/blog/2.jpg" alt="">
              </figure>
              <h3><a routerLink="blog-details">Everything You Need To Know About Banking.</a></h3>
              <div class="post-meta">
                <span>12 Jan, 2019 by</span>
                <a href="javascript:void(0)">Meraz Zabria</a>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incidid labore et dolore magna
                aliqua. Quis ipsum suspen disse ultrices gravida. here are many variations of passages of them Lorem
                Ipsum available, but the majority have suffered alteration in some form.</p>
              <a routerLink="blog-details" class="btn btn-default"><span class="bh"></span> <span>Read more</span></a>
            </article>
            <article class="post-item">
              <figure class="post-thumb">
                <img src="assets/images/blog/3.jpg" alt="">
              </figure>
              <h3><a routerLink="blog-details">Everything You Need To Know About Banking.</a></h3>
              <div class="post-meta">
                <span>12 Jan, 2019 by</span>
                <a href="javascript:void(0)">Meraz Zabria</a>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incidid labore et dolore magna
                aliqua. Quis ipsum suspen disse ultrices gravida. here are many variations of passages of them Lorem
                Ipsum available, but the majority have suffered alteration in some form.</p>
              <a routerLink="blog-details" class="btn btn-default"><span class="bh"></span> <span>Read more</span></a>
            </article>
            <article class="post-item">
              <figure class="post-thumb">
                <img src="assets/images/blog/4.jpg" alt="">
              </figure>
              <h3><a routerLink="blog-details">Everything You Need To Know About Banking.</a></h3>
              <div class="post-meta">
                <span>12 Jan, 2019 by</span>
                <a href="javascript:void(0)">Meraz Zabria</a>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incidid labore et dolore magna
                aliqua. Quis ipsum suspen disse ultrices gravida. here are many variations of passages of them Lorem
                Ipsum available, but the majority have suffered alteration in some form.</p>
              <a routerLink="blog-details" class="btn btn-default"><span class="bh"></span> <span>Read more</span></a>
            </article>
          </div>
          <div class="pagination">
            <a href="" class="prev"><span class="bh"></span> <span>Previous</span></a>
            <a href="javascript:void(0)">1</a>
            <span class="current">2</span>
            <a href="javascript:void(0)">3</a>
            <a href="javascript:void(0)">4</a>
            <a href="" class="next"><span class="bh"></span> <span>Next</span></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sidebar">
            <aside class="widget widget_search">
              <form action="#">
                <input type="text" name="s" placeholder="Search ..." required>
                <i class="fas fa-search"></i>
              </form>
            </aside>
            <aside class="widget widget_categories">
              <h3 class="widget-title">Categories</h3>
              <ul>
                <li><a href="javascript:void(0)">Money Saving<span>(12)</span></a></li>
                <li><a href="javascript:void(0)">Mobile Banking<span>(19)</span></a></li>
                <li><a href="javascript:void(0)">Digital Wallet<span>(09)</span></a></li>
                <li><a href="javascript:void(0)">Crypt Currency<span>(21)</span></a></li>
                <li><a href="javascript:void(0)">Money Transfer<span>(05)</span></a></li>
                <li><a href="javascript:void(0)">Banking Investment <span>(11)</span></a></li>
              </ul>
            </aside>
            <aside class="widget widget_recent_entries">
              <h3 class="widget-title">Recent Posts</h3>
              <ul>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
              </ul>
            </aside>
            <aside class="widget widget_recent_entries">
              <h3 class="widget-title">Popular Posts</h3>
              <ul>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
                <li>
                  <a href="javascript:void(0)">Lorem ipsum eu vehicula quis odio donec imperdiet sonubia portam
                    lisbiben.</a>
                  <span class="publish-date">12 Jan, 2019</span>
                </li>
              </ul>
            </aside>
            <aside class="widget widget_tag_cloud">
              <h3 class="widget-title">Keywords</h3>
              <div class="tag-cloud">
                <a href="javascript:void(0)">banking</a>
                <a href="javascript:void(0)">article</a>
                <a href="javascript:void(0)">money</a>
                <a href="javascript:void(0)">saving</a>
                <a href="javascript:void(0)">invest</a>
                <a href="javascript:void(0)">safety</a>
                <a href="javascript:void(0)">credit</a>
                <a href="javascript:void(0)">debit</a>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog posts section end -->
  <app-page-footer></app-page-footer>
</div>
