<div class="home-one">
  <app-page-header></app-page-header>
  <!-- Banner section start -->
  <section class="banner v6">
    <div class="container">
      <div class="row">
        <div class="col-md-11 m-auto">
          <div class="ban-content text-center">
            <h1>Introduce With a New Way of Sending Money, All Over The World</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore <br> magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas .</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 m-auto">
          <form class="receive-form" action="#">
            <div class="form-field">
              <label>Choose Receiver Country</label>
              <div class="join-field">
                <div class="curr-select">
                  <span class="selected"><img src="assets/images/flags/usa.png" alt="">United State &nbsp;<i
                      class="fas fa-caret-down"></i></span>
                  <ul>
                    <li><a href="javascript:void(0)"><img src="assets/images/flags/usa.png" alt="">United State</a></li>
                    <li><a href="javascript:void(0)"><img src="assets/images/flags/canada.png" alt="">Canada</a></li>
                  </ul>
                </div>
                <button class="btn btn-filled"><span class="bh"></span> <span>Get Started</span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner section end -->

  <!-- Our process section start -->
  <section class="our-process">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <span class="tagline">Our Process</span>
            <h2 class="sec-title">Fast and Easy Way to Send Money</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/5.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-wallet"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span></span>

            <h5><a href="javascript:void(0)">Select Wallet</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/6.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-amount"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span></span>

            <h5><a href="javascript:void(0)">Enter Amount</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/7.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-hand-card"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span></span>

            <h5><a href="javascript:void(0)">Select Receiver</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/8.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-hand"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span><span
                class="path15"></span><span class="path16"></span><span class="path17"></span></span>

            <h5><a href="javascript:void(0)">Confirm and Pay</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-12 text-center">
          <a href="https://vimeo.com/191947042" class="btn btn-outline btn-round icon-left" data-fancybox>
            <span class="bh"></span> <span><i class="fas fa-play"></i>Watch Video</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Our process section end -->

  <!-- Online Transfer section start -->
  <section class="online-transfer bg-offwhite">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="content-box">
            <span class="tagline bar">Online Transfer</span>
            <h2>Send Money Online</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>

          <div class="accordion has-numbering" id="accordion">
            <div class="accordion-item active">
              <h5 class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                Select Your Recevier Country
              </h5>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="acr-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Quis ipsum suspen disse ultrices gravida.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h5 class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
                Choose How to Pay
              </h5>

              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="acr-body">
                  <p>Molestie eu blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non
                    fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h5 class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                Confirm Information and Pay
              </h5>

              <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="acr-body">
                  <p>Blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna
                    dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <figure class="imgBox">
            <!-- <img src="assets/images/online-transfer.png" alt=""> -->
            <img src="assets/images/ani5/1.png" alt="" class="ani5 ani5img1">
            <img src="assets/images/ani5/2.png" alt="" class="ani5 ani5img2">
            <img src="assets/images/ani5/3.png" alt="" class="ani5 ani5img3">
            <img src="assets/images/ani5/4.png" alt="" class="ani5 ani5img4">
            <img src="assets/images/ani6/5.png" alt="" class="ani5 ani5img5">
            <img src="assets/images/ani6/6.png" alt="" class="ani5 ani5img6">
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- Online Transfer section end -->

  <!-- Instant Cashout section start -->
  <section class="instant-cashout">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <figure class="imgBox">
            <img src="assets/images/ani7/1.png" alt="" class="ani7 ani7img1">
            <img src="assets/images/ani7/2.png" alt="" class="ani7 ani7img2">
            <img src="assets/images/ani7/3.png" alt="" class="ani7 ani7img3">
            <img src="assets/images/ani7/4.png" alt="" class="ani7 ani7img4">
            <img src="assets/images/ani7/5.png" alt="" class="ani7 ani7img5">
            <img src="assets/images/ani7/6.png" alt="" class="ani7 ani7img6">
          </figure>
        </div>
        <div class="col-md-6">
          <div class="content-box">
            <span class="tagline bar">Instant Cashout</span>
            <h2>Send Money to Friends or Family</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>

          <div class="accordion has-numbering" id="accordion1">
            <div class="accordion-item">
              <h5 class="collapsed" data-toggle="collapse" data-target="#ic-1" aria-expanded="false">
                Select Payout location
              </h5>
              <div id="ic-1" class="collapse" data-parent="#accordion1">
                <div class="acr-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Quis ipsum suspen disse ultrices gravida.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item active">
              <h5 class="collapsed" data-toggle="collapse" data-target="#ic-2" aria-expanded="true">
                Input Recevier Informations
              </h5>

              <div id="ic-2" class="collapse show" data-parent="#accordion1">
                <div class="acr-body">
                  <p>Molestie eu blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non
                    fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h5 class="collapsed" data-toggle="collapse" data-target="#ic-3" aria-expanded="false">
                Confirm Information and Pay
              </h5>

              <div id="ic-3" class="collapse" data-parent="#accordion1">
                <div class="acr-body">
                  <p>Blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna
                    dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Instant Cashout section end -->

  <!-- Deposit money section start -->
  <section class="deposit-money bg-offwhite">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="content-box">
            <span class="tagline bar">Bank Deposit</span>
            <h2>Deposit Money to Bank</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>

          <div class="accordion has-numbering" id="accordion2">
            <div class="accordion-item active">
              <h5 class="collapsed" data-toggle="collapse" data-target="#dm-1" aria-expanded="true">
                Choose Your Country
              </h5>
              <div id="dm-1" class="collapse show" data-parent="#accordion2">
                <div class="acr-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Quis ipsum suspen disse ultrices gravida.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h5 class="collapsed" data-toggle="collapse" data-target="#dm-2" aria-expanded="false">
                Add Bank Information
              </h5>

              <div id="dm-2" class="collapse" data-parent="#accordion2">
                <div class="acr-body">
                  <p>Molestie eu blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non
                    fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h5 class="collapsed" data-toggle="collapse" data-target="#dm-3" aria-expanded="false">
                Confirm information and Deposit
              </h5>

              <div id="dm-3" class="collapse" data-parent="#accordion2">
                <div class="acr-body">
                  <p>Blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna
                    dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <figure class="imgBox">
            <img src="assets/images/deposit-map.png" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- Deposit money section end -->

  <!-- Mobile wallet section start -->
  <section class="mobile-wallet">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <figure class="imgBox">
            <img src="assets/images/ani7/1.png" alt="" class="ani7 ani7img1">
            <img src="assets/images/ani7/2.png" alt="" class="ani7 ani7img2">
            <img src="assets/images/ani7/3.png" alt="" class="ani7 ani7img3">
            <img src="assets/images/ani7/4.png" alt="" class="ani7 ani7img4">
            <img src="assets/images/ani7/5.png" alt="" class="ani7 ani7img5">
            <img src="assets/images/ani7/6.png" alt="" class="ani7 ani7img6">
          </figure>
        </div>
        <div class="col-md-6">
          <div class="content-box">
            <span class="tagline bar">Mobile Wallet</span>
            <h2>Send Money to Mobile Wallet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>

          <div class="accordion has-numbering" id="accordion3">
            <div class="accordion-item">
              <h5 class="collapsed" data-toggle="collapse" data-target="#mw-1" aria-expanded="false">
                Access Your Mobile Wallet
              </h5>
              <div id="mw-1" class="collapse" data-parent="#accordion3">
                <div class="acr-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Quis ipsum suspen disse ultrices gravida.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item active">
              <h5 class="collapsed" data-toggle="collapse" data-target="#mw-2" aria-expanded="true">
                Input Wallet Informations
              </h5>

              <div id="mw-2" class="collapse show" data-parent="#accordion3">
                <div class="acr-body">
                  <p>Molestie eu blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non
                    fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h5 class="collapsed" data-toggle="collapse" data-target="#mw-3" aria-expanded="false">
                Confirm information and payover
              </h5>

              <div id="mw-3" class="collapse" data-parent="#accordion3">
                <div class="acr-body">
                  <p>Blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna
                    dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Mobile wallet section end -->

  <!-- Video section start -->
  <section class="banner video v3">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto text-center">
          <div class="sec-heading">
            <span class="tagline">Watch Video</span>
            <h2 class="sec-title">How We Work For You</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
          <a href="https://vimeo.com/191947042" class="video-btn" data-fancybox><i class="fas fa-play"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Video section end -->

  <!-- Faq section start -->
  <section class="faq">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto text-center">
          <div class="sec-heading">
            <span class="tagline">FAQ</span>
            <h2 class="sec-title">Frequently Asked Questions</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-12 m-auto">
          <div class="accordion" id="accordion4">
            <div class="accordion-item">
              <h5 class="collapsed" data-toggle="collapse" data-target="#faq-1" aria-expanded="true">
                Access Your Mobile Wallet
              </h5>
              <div id="faq-1" class="collapse" data-parent="#accordion4">
                <div class="acr-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Quis ipsum suspen disse ultrices gravida.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h5 class="collapsed" data-toggle="collapse" data-target="#faq-2" aria-expanded="false">
                Input Wallet Informations
              </h5>

              <div id="faq-2" class="collapse show" data-parent="#accordion4">
                <div class="acr-body">
                  <p>Molestie eu blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non
                    fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h5 class="collapsed" data-toggle="collapse" data-target="#faq-3" aria-expanded="false">
                Confirm information and payover
              </h5>

              <div id="faq-3" class="collapse" data-parent="#accordion4">
                <div class="acr-body">
                  <p>Blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna
                    dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h5 class="collapsed" data-toggle="collapse" data-target="#faq-4" aria-expanded="false">
                Access Your Mobile Wallet
              </h5>

              <div id="faq-4" class="collapse" data-parent="#accordion4">
                <div class="acr-body">
                  <p>Molestie eu blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non
                    fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h5 class="collapsed" data-toggle="collapse" data-target="#faq-5" aria-expanded="false">
                Input Wallet Informations
              </h5>

              <div id="faq-5" class="collapse" data-parent="#accordion4">
                <div class="acr-body">
                  <p>Blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna
                    dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Question section end -->
  <app-page-footer></app-page-footer>
</div>
