<!-- Header start -->
<header class="header">
  <div class="container d-flex align-items-center">
    <a class="logo" href="/">
      <img src="assets/images/logo.png" alt="">
    </a>
    <nav class="primary-menu text-md-right">
      <a id="mobile-menu-toggler" href="javascript:void(0)"><i class="fas fa-bars"></i></a>
      <ul>
        <li class="current-menu-item has-menu-child"><a href="javascript:void(0)" >Home</a>
          <ul class="sub-menu">
            <li><a routerLink="/home-01">Home 01</a></li>
            <li><a routerLink="/home-02">Home 02</a></li>
            <li><a routerLink="/home-03">Home 03</a></li>
          </ul>
        </li>
        <!-- <li><a routerLink="/landing-page-send">Send Money</a></li>
        <li><a routerLink="/landing-page-receive">Receive Money</a></li>
        <li class="has-menu-child"><a href="javascript:void(0)">Pages</a>
          <ul class="sub-menu">
            <li><a routerLink="/how-it-works-send">How it works - Send</a></li>
            <li><a routerLink="/how-it-works-receive">How it works - Receive</a></li>
            <li><a routerLink="/how-it-works-paybills">How it works - Paybills</a></li>
            <li><a routerLink="/landing-page-ecommerce">Landing - Ecommerce</a></li>
            <li><a routerLink="/faq">Faq</a></li>
            <li><a routerLink="/404">404 Error page</a></li>
            <li><a routerLink="/coming-soon">Coming soon</a></li>
            <li><a routerLink="/signup">Sign up</a></li>
          </ul>
        </li>
        <li class="has-menu-child">
          <a routerLink="/about-01">About</a>
          <ul class="sub-menu">
            <li><a routerLink="/about-01">About 01</a></li>
            <li><a routerLink="/about-02">About 02</a></li>
          </ul>
        </li>
        <li class="has-menu-child">
          <a routerLink="/blog">Blog</a>
          <ul class="sub-menu">
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/blog-details">Blog Details</a></li>
          </ul>
        </li>
        <li><a routerLink="/contact">Contact</a></li> -->
        <li><a routerLink="/userloan">Loan</a></li>
        <!-- <li><a routerLink="/login" class="login btn btn-outline btn-round"><span class="bh"></span>
            <span>login</span></a>
        </li> -->
        <li><a (click)="logout()" >
          <span>LogOut</span></a>
      </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Header end -->
