<div class="home-one">
  <app-page-header></app-page-header>
  <!-- Banner section start -->
  <section class="banner v7">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-9">
          <div class="ban-content">
            <h1>First And Easy Money Transfer Solution Across World</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.</p>
            <a href="javascript:void(0)" class="btn btn-outline btn-round"><span class="bh"></span> <span>Learn
                more</span></a>
          </div>
        </div>
        <div class="col-lg-5 col-md-3">
          <a href="https://vimeo.com/191947042" class="video-btn" data-fancybox><i class="fas fa-play"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner section end -->

  <!-- About overview section start -->
  <section class="about-overview">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">What Service We Provide</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-fast-transfer"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span><span
                class="path15"></span><span class="path16"></span><span class="path17"></span><span
                class="path18"></span></span>

            <h5><a href="javascript:void(0)">Send Money</a></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipis elited deiusmod tempor incidqn tutirial labor magna
              aliqua.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-mobile-app"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span><span
                class="path15"></span><span class="path16"></span><span class="path17"></span></span>

            <h5><a href="javascript:void(0)">Receive Money</a></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipis elited deiusmod tempor incidqn tutirial labor magna
              aliqua.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-online-pay"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span><span
                class="path15"></span><span class="path16"></span><span class="path17"></span><span
                class="path18"></span><span class="path19"></span><span class="path20"></span><span
                class="path21"></span><span class="path22"></span><span class="path23"></span><span
                class="path24"></span></span>

            <h5><a href="javascript:void(0)">Pay Online</a></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipis elited deiusmod tempor incidqn tutirial labor magna
              aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About overview section end -->

  <!-- System works start -->
  <section class="system-works bg-offwhite">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">What We Do For You</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs cmn-tab-nav">
            <li><a class="active" data-toggle="tab" href="#money-transition">Money Transition</a></li>
            <li><a data-toggle="tab" href="#tracking-activity">Tracking Activity</a></li>
            <li><a data-toggle="tab" href="#secure-payment">Secure Payment</a></li>
          </ul>

          <div class="tab-content">
            <div id="money-transition" class="tab-pane fade in active show">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <figure class="imgBox">
                    <img src="assets/images/payment-service-3.png" alt="">
                  </figure>
                </div>
                <div class="col-md-6">
                  <div class="content-box">
                    <h2>We Made The Easiest Possible Way To Transfer Money</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <a href="javascript:void(0)" class="btn btn-filled btn-round"><span class="bh"></span> <span>Learn
                        More</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div id="tracking-activity" class="tab-pane fade">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="content-box">
                    <h2>Give Your Information to Sender</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <a href="javascript:void(0)" class="btn btn-filled btn-round"><span class="bh"></span> <span>Learn
                        More</span></a>
                  </div>
                </div>
                <div class="col-md-6">
                  <figure class="imgBox">
                    <img src="assets/images/app-img.png" alt="">
                  </figure>
                </div>
              </div>
            </div>
            <div id="secure-payment" class="tab-pane fade">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="content-box">
                    <h2>Give Your Information to Sender</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <a href="javascript:void(0)" class="btn btn-filled btn-round"><span class="bh"></span> <span>Learn
                        More</span></a>
                  </div>
                </div>
                <div class="col-md-6">
                  <figure class="imgBox">
                    <img src="assets/images/internet-bill.png" alt="">
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- System works end -->

  <!-- Overview section start -->
  <section class="overview">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">Why Choose us</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="iconBox listBox">
            <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-bank-diposite"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span><span
                class="path15"></span><span class="path16"></span></span>

            <h5><a href="javascript:void(0)">Fast Transfer</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="iconBox listBox">
            <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-low-cost"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span><span
                class="path15"></span><span class="path16"></span><span class="path17"></span><span
                class="path18"></span><span class="path19"></span><span class="path20"></span><span
                class="path21"></span><span class="path22"></span><span class="path23"></span><span
                class="path24"></span><span class="path25"></span><span class="path26"></span><span
                class="path27"></span><span class="path28"></span><span class="path29"></span><span
                class="path30"></span></span>

            <h5><a href="javascript:void(0)">Low cost</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="iconBox listBox">
            <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-secured"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span></span>

            <h5><a href="javascript:void(0)">Trusted and secure</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="iconBox listBox">
            <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-form"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span><span
                class="path15"></span><span class="path16"></span><span class="path17"></span><span
                class="path18"></span><span class="path19"></span><span class="path20"></span></span>

            <h5><a href="javascript:void(0)">Complete Solution</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Overview section end -->

  <!-- Video section start -->
  <section class="banner video">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto text-center">
          <div class="sec-heading">
            <h2 class="sec-title">Pay Your Bills Anytime With Our Payment Service</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
          <a href="https://vimeo.com/191947042" class="video-btn" data-fancybox><i class="fas fa-play"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Video section end -->

  <!-- Mission & Vision start -->
  <section class="mission-vision">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="content-box">
            <h2>We Made The Easiest Possible Way To Transfer Money</h2>
            <p>Risus commodo viverra maecenas. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
          </div>
          <div class="content-box">
            <h4>Our Mission</h4>
            <p>Risus commodo viverra maecenas. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
          </div>
          <div class="content-box">
            <h4>Our Vision</h4>
            <p>Risus commodo viverra maecenas. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
          </div>
          <div class="content-box">
            <h4>Our Goal</h4>
            <p>Risus commodo viverra maecenas. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
          </div>
        </div>
        <div class="col-md-5 offset-md-1">
          <figure class="imgBox">
            <img src="assets/images/mission.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- Mission & Vision end -->

  <!-- Partners section start -->
  <section class="partners bg-offwhite">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <span class="tagline">Our Partners</span>
            <h2 class="sec-title">Our Partner Programs</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="partners-logo owl-carousel">
            <a href="javascript:void(0)"><img src="assets/images/partners/1.png" alt=""></a>
            <a href="javascript:void(0)"><img src="assets/images/partners/2.png" alt=""></a>
            <a href="javascript:void(0)"><img src="assets/images/partners/3.png" alt=""></a>
            <a href="javascript:void(0)"><img src="assets/images/partners/4.png" alt=""></a>
            <a href="javascript:void(0)"><img src="assets/images/partners/5.png" alt=""></a>
            <a href="javascript:void(0)"><img src="assets/images/partners/6.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Partners section end -->
  <app-page-footer></app-page-footer>
</div>
