<div class="landing-ecommerce">
  <app-page-header></app-page-header>
  <!-- Banner section start -->
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 m-auto">
          <div class="ban-content text-center">
            <h1>We Help Online Business, Ecommerce to Make Their Transition Easier</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.</p>
            <a href="javascript:void(0)" class="btn btn-filled btn-round"><span class="bh"></span> <span>Create an
                Account</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner section end -->

  <!-- Landing overview section start -->
  <section class="landing-overview">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">Why Choose Our Ecommerce Account</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-3 col-sm-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-api"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span></span>

            <h5><a href="javascript:void(0)">Custom API</a></h5>
            <p>Lorem ipsum qite coctetr asipm scing elised eiusmtmr incidid untdre consistal.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-wallet"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span></span>

            <h5><a href="javascript:void(0)">Unlimited Transition</a></h5>
            <p>Lorem ipsum qite coctetr asipm scing elised eiusmtmr incidid untdre consistal.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-low-cost"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span><span
                class="path15"></span><span class="path16"></span><span class="path17"></span><span
                class="path18"></span><span class="path19"></span><span class="path20"></span><span
                class="path21"></span><span class="path22"></span><span class="path23"></span><span
                class="path24"></span><span class="path25"></span><span class="path26"></span><span
                class="path27"></span><span class="path28"></span><span class="path29"></span><span
                class="path30"></span></span>

            <h5><a href="javascript:void(0)">Low fees</a></h5>
            <p>Lorem ipsum qite coctetr asipm scing elised eiusmtmr incidid untdre consistal.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-hand-cash"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span></span>

            <h5><a href="javascript:void(0)">Instant cashout</a></h5>
            <p>Lorem ipsum qite coctetr asipm scing elised eiusmtmr incidid untdre consistal.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Landing overview section end -->

  <!-- Partners section start -->
  <section class="partners bg-offwhite">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <span class="tagline">Our Partners</span>
            <h2 class="sec-title">Our Partner Programs</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="partners-logo owl-carousel">
            <a href="javascript:void(0)"><img src="assets/images/partners/1.png" alt=""></a>
            <a href="javascript:void(0)"><img src="assets/images/partners/2.png" alt=""></a>
            <a href="javascript:void(0)"><img src="assets/images/partners/3.png" alt=""></a>
            <a href="javascript:void(0)"><img src="assets/images/partners/4.png" alt=""></a>
            <a href="javascript:void(0)"><img src="assets/images/partners/5.png" alt=""></a>
            <a href="javascript:void(0)"><img src="assets/images/partners/6.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Partners section end -->

  <!-- Benefits section start -->
  <section class="benefits">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">We Bring Best Benefits For Your Business</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs list-tab-nav">
            <li><a class="active" data-toggle="tab" href="#benefits-1">Benefits One</a></li>
            <li><a data-toggle="tab" href="#benefits-2">Benefits Two</a></li>
            <li><a data-toggle="tab" href="#benefits-3">Benefits Three</a></li>
            <li><a data-toggle="tab" href="#benefits-4">Benefits Four</a></li>
            <li><a data-toggle="tab" href="#benefits-5">Benefits Five</a></li>
          </ul>

          <div class="tab-content">
            <div id="benefits-1" class="tab-pane fade in active show">
              <div class="row align-items-center">
                <div class="col-md-5">
                  <figure class="video-box">
                    <img src="assets/images/video-bg/2.jpg" alt="">
                    <a href="https://vimeo.com/191947042" class="video-btn" data-fancybox><i
                        class="fas fa-play"></i></a>
                  </figure>
                </div>
                <div class="col-md-6 offset-md-1">
                  <div class="content-box">
                    <h2>Our Goal Is To Provide The Best Service To Our Users</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                      maecenas</p>
                    <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                  </div>
                </div>
              </div>
            </div>
            <div id="benefits-2" class="tab-pane fade">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="content-box">
                    <h2>Our Goal Is To Provide The Best Service To Our Users</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                      maecenas</p>
                    <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                  </div>
                </div>
                <div class="col-md-5 offset-md-1">
                  <figure class="video-box">
                    <img src="assets/images/video-bg/2.jpg" alt="">
                    <a href="https://vimeo.com/191947042" class="video-btn" data-fancybox><i
                        class="fas fa-play"></i></a>
                  </figure>
                </div>
              </div>
            </div>
            <div id="benefits-3" class="tab-pane fade">
              <div class="row align-items-center">
                <div class="col-md-5">
                  <figure class="video-box">
                    <img src="assets/images/video-bg/2.jpg" alt="">
                    <a href="https://vimeo.com/191947042" class="video-btn" data-fancybox><i
                        class="fas fa-play"></i></a>
                  </figure>
                </div>
                <div class="col-md-6 offset-md-1">
                  <div class="content-box">
                    <h2>Our Goal Is To Provide The Best Service To Our Users</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                      maecenas</p>
                    <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                  </div>
                </div>
              </div>
            </div>
            <div id="benefits-4" class="tab-pane fade">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="content-box">
                    <h2>Our Goal Is To Provide The Best Service To Our Users</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                      maecenas</p>
                    <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                  </div>
                </div>
                <div class="col-md-5 offset-md-1">
                  <figure class="video-box">
                    <img src="assets/images/video-bg/2.jpg" alt="">
                    <a href="https://vimeo.com/191947042" class="video-btn" data-fancybox><i
                        class="fas fa-play"></i></a>
                  </figure>
                </div>
              </div>
            </div>
            <div id="benefits-5" class="tab-pane fade">
              <div class="row align-items-center">
                <div class="col-md-5">
                  <figure class="video-box">
                    <img src="assets/images/video-bg/2.jpg" alt="">
                    <a href="https://vimeo.com/191947042" class="video-btn" data-fancybox><i
                        class="fas fa-play"></i></a>
                  </figure>
                </div>
                <div class="col-md-6 offset-md-1">
                  <div class="content-box">
                    <h2>Our Goal Is To Provide The Best Service To Our Users</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                      maecenas</p>
                    <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Benefits section end -->

  <!-- Fun facts section start -->
  <section class="banner funfacts">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto text-center">
          <div class="sec-heading">
            <h2 class="sec-title">Fees for Sending And Accepting Payments</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
          <a href="javascript:void(0)" class="btn btn-filled btn-round"><span class="bh"></span> <span>Small
              Startup</span></a>
          <a href="javascript:void(0)" class="btn btn-outline btn-round"><span class="bh"></span> <span>Big
              Company</span></a>

          <ul class="fun-group">
            <li>
              <span>0.5%</span>
              Per Invoice
            </li>
            <li>
              <span>1.25%</span>
              Instant Cashout
            </li>
            <li>
              <span>2.0%</span>
              Transfer Charge
            </li>
            <li>
              <span>0.0%</span>
              Refund Cash
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Fun facts section end -->

  <!-- Package section start -->
  <section class="package">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto text-center">
          <div class="sec-heading">
            <h2 class="sec-title">What Extra You Will Get With Package</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-11 m-auto">
          <div class="package-table">
            <table>
              <tr>
                <th>Services</th>
                <th>Small Startup</th>
                <th>Big Company</th>
              </tr>
              <tr>
                <td>Pay With 1 Click</td>
                <td><i class="fas fa-check-circle"></i></td>
                <td><i class="fas fa-check-circle"></i></td>
              </tr>
              <tr>
                <td>Accepting Card</td>
                <td><i class="fas fa-check-circle"></i></td>
                <td><i class="fas fa-check-circle"></i></td>
              </tr>
              <tr>
                <td>Data Collection</td>
                <td><i class="fas fa-check-circle"></i></td>
                <td><i class="fas fa-check-circle"></i></td>
              </tr>
              <tr>
                <td>Integration</td>
                <td><i class="fas fa-times-circle"></i></td>
                <td><i class="fas fa-check-circle"></i></td>
              </tr>
              <tr>
                <td>Secure Payment</td>
                <td><i class="fas fa-times-circle"></i></td>
                <td><i class="fas fa-check-circle"></i></td>
              </tr>
              <tr>
                <td>Credit Balance</td>
                <td><i class="fas fa-times-circle"></i></td>
                <td><i class="fas fa-check-circle"></i></td>
              </tr>
              <tr>
                <td>Digital Wallet</td>
                <td><i class="fas fa-check-circle"></i></td>
                <td><i class="fas fa-check-circle"></i></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Package section end -->

  <!-- Testimonial section start -->
  <section class="testimonial bg-offwhite">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <h2 class="sec-title">What Users Say About US</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="test-caro owl-carousel">
        <div class="single-testimonial">
          <div class="tst-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod pempor incididunt ut labore et dolore
            magna aliqua. Quis ipsum suspen risse ultrices gravida.
          </div>
          <div class="tst-head">
            <img src="assets/images/avatar.png" class="avatar" alt="">
            <h6>Jhon Doe</h6>
            <span>Business analist</span>
          </div>
        </div>
        <div class="single-testimonial">
          <div class="tst-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod pempor incididunt ut labore et dolore
            magna aliqua. Quis ipsum suspen risse ultrices gravida.
          </div>
          <div class="tst-head">
            <img src="assets/images/avatar.png" class="avatar" alt="">
            <h6>Jhon Doe</h6>
            <span>Business analist</span>
          </div>
        </div>
        <div class="single-testimonial">
          <div class="tst-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod pempor incididunt ut labore et dolore
            magna aliqua. Quis ipsum suspen risse ultrices gravida.
          </div>
          <div class="tst-head">
            <img src="assets/images/avatar.png" class="avatar" alt="">
            <h6>Jhon Doe</h6>
            <span>Business analist</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonial section end -->
  <app-page-footer></app-page-footer>
</div>
