<div class="signup-page">
  <div class="signup-login">
    <div class="sl-slider-caro owl-carousel">
      <div class="single-sl-slide">
        <img src="assets/images/mac.png" alt="">
        <div class="content-box">
          <h2>All In One Transfer Solutions</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sedo eiusmod tempor incididunt dolore.</p>
        </div>
      </div>
      <div class="single-sl-slide">
        <img src="assets/images/mac.png" alt="">
        <div class="content-box">
          <h2>All In One Transfer Solutions</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sedo eiusmod tempor incididunt dolore.</p>
        </div>
      </div>
      <div class="single-sl-slide">
        <img src="assets/images/mac.png" alt="">
        <div class="content-box">
          <h2>All In One Transfer Solutions</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sedo eiusmod tempor incididunt dolore.</p>
        </div>
      </div>
    </div>
    <div class="sl-form-wrap">
      <header>
        <a routerLink='/' class="logo">
          <img src="assets/images/logo-2.png" alt="">
        </a>
        <a href="javascript:void(0)" class="mbl-menu-toggler">
          <i class="fas fa-align-left"></i>
        </a>
      </header>
      <div class="content-box">
        <h2>Create Account</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sedo<br> eiusmod tempor incididunt dolore.</p>
      </div>
      <form action="#" class="sl-form">
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" placeholder="Jhone Doe" required>
        </div>
        <div class="form-group">
          <label>Email or Username</label>
          <input type="email" placeholder="example@gmail.com" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" placeholder="Password" required>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tnc">
            <label class="custom-control-label" for="tnc">Agree with&nbsp;&nbsp;<a href="javascript:void(0)">Terms and
                Conditions</a></label>
          </div>
        </div>
        <button class="btn btn-filled btn-round"><span class="bh"></span> <span>Signup</span></button>
        <p class="notice">Already have an account? <a routerLink="/login">Login Account</a></p>
      </form>
    </div>
  </div>
</div>
