<div class="home-one">
  <app-page-header></app-page-header>
  <!-- Banner section start -->
  <section class="banner v5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 m-auto">
          <div class="ban-content text-center">
            <h1>Pay Your Due Bills Online</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas .</p>
          </div>
          <form class="bill-form v2" action="#">
            <div class="form-field">
              <select name="bills">
                <option>Select Bills</option>
                <option>Internet Bill</option>
                <option>Electricity Bills</option>
                <option>Telephone Bills</option>
              </select>
            </div>
            <div class="form-field">
              <div class="join-field">
                <input type="text" placeholder="Input your 12 digit bill ID">
                <button class="btn btn-block btn-filled form-btn">
                  <span class="bh"></span> <span>Next &nbsp; <i class="fas fa-arrow-right"></i></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner section end -->


  <!-- Bill Categories section start -->
  <section class="bill-categories">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <span class="tagline">Bill Categories</span>
            <h2 class="sec-title">Our Supported Bill Categories</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="javascript:void(0)" class="icon-list-block">
            <img src="assets/images/icons/categories/1.png" alt="">
            <span>Bank Loan</span>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="javascript:void(0)" class="icon-list-block">
            <img src="assets/images/icons/categories/2.png" alt="">
            <span>Internet Bill</span>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="javascript:void(0)" class="icon-list-block">
            <img src="assets/images/icons/categories/3.png" alt="">
            <span>Electricity Bills</span>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="javascript:void(0)" class="icon-list-block">
            <img src="assets/images/icons/categories/4.png" alt="">
            <span>Telephone Bills</span>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="javascript:void(0)" class="icon-list-block">
            <img src="assets/images/icons/categories/5.png" alt="">
            <span>Hosting</span>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="javascript:void(0)" class="icon-list-block">
            <img src="assets/images/icons/categories/6.png" alt="">
            <span>Car Renting</span>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="javascript:void(0)" class="icon-list-block">
            <img src="assets/images/icons/categories/7.png" alt="">
            <span>Home Service</span>
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="javascript:void(0)" class="icon-list-block">
            <img src="assets/images/icons/categories/8.png" alt="">
            <span>Super Shop</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Bill Categories section end -->

  <!-- Transfer process section start -->
  <section class="transfer-process bg-offwhite">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <span class="tagline">Our Process</span>
            <h2 class="sec-title">Pay Your Bills From Anywhere</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row align-items-md-center">
        <div class="col-md-5">
          <figure class="imgBox">
            <img src="assets/images/internet-bill.png" alt="">
          </figure>
        </div>
        <div class="col-md-6 offset-md-1">
          <div class="content-box">
            <h2>Choose a Category to Process Your Bills</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</p>
            <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Quis ipsum suspendisse ultrices gravida. </p>
            <a href="javascript:void(0)" class="btn btn-default"><span class="bh"></span> <span>Pay Your
                Bills</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Transfer process section end -->

  <!-- Video section start -->
  <section class="banner video">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto text-center">
          <div class="sec-heading">
            <h2 class="sec-title">Pay Your Bills Anytime With Our Payment Service</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
          <a href="https://vimeo.com/191947042" class="video-btn" data-fancybox><i class="fas fa-play"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Video section end -->

  <!-- Question section start -->
  <section class="question">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto text-center">
          <div class="sec-heading">
            <span class="tagline">Ask Question</span>
            <h2 class="sec-title">Have a Question?</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
          <a href="javascript:void(0)" class="btn btn-filled btn-round"><span class="bh"></span> <span>Ask a
              Question</span></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Question section end -->

  <app-page-footer></app-page-footer>
</div>
