<div class="home-one">
  <app-page-header></app-page-header>
  <!-- Banner section start -->
  <section class="banner v4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 m-auto">
          <div class="ban-content text-center">
            <h1>Receive Money From Around<br> The World</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas .</p>
          </div>
          <form class="bill-form" action="#">
            <div class="form-field">
              <select name="country">
                <option>Country</option>
                <option value="usa">USA</option>
                <option value="canada">Canada</option>
                <option value="australia">Australia</option>
              </select>
            </div>
            <div class="form-field">
              <div class="join-field">
                <input type="text" placeholder="City, Address, Agent or ZIP Code">
                <button class="btn btn-block btn-filled form-btn"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner section end -->


  <!-- Overview section start -->
  <section class="overview">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <span class="tagline">Fast Service</span>
            <h2 class="sec-title">Why Choose Our Service</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-support"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span></span>

            <h5><a href="javascript:void(0)">24/7 Services</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-wallet-cashout"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span></span>

            <h5><a href="javascript:void(0)">Instant Cashout</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-mobile-bank"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span></span>

            <h5><a href="javascript:void(0)">Mobile banking</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-money-tracking"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span><span
                class="path15"></span></span>

            <h5><a href="javascript:void(0)">Charge free</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Overview section end -->

  <!-- Receive works start -->
  <section class="receive-works bg-offwhite">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <span class="tagline">Our Process</span>
            <h2 class="sec-title">How to Receive Money Works</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs cmn-tab-nav">
            <li>
              <a class="active" data-toggle="tab" href="#get-payment">Get Payment
                <span class="nav-arrow"></span>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#find-location">Find Location
                <span class="nav-arrow"></span>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#insert-code">Insert Code
                <span class="nav-arrow"></span>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#cash-pickup">Cash Pickup</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="get-payment" class="tab-pane fade in active show">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <figure class="imgBox">
                    <img src="assets/images/illustrations/1.png" alt="">
                  </figure>
                </div>
                <div class="col-md-6">
                  <div class="content-box">
                    <h2>Give Your Information to Sender</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                      maecenas</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <a href="javascript:void(0)" class="btn btn-filled btn-round"><span class="bh"></span> <span>Request
                        Payment</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div id="find-location" class="tab-pane fade">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="content-box">
                    <h2>Give Your Information to Sender</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <ul class="steps vertical">
                      <li>
                        <span>1</span>
                        Find a Nearest Location or Wallet
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                      <li>
                        <span>2</span>
                        Confirm Your Identity or Access Wallet
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                      <li>
                        <span>3</span>
                        Confirm Your Access and Request Payment
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <figure class="imgBox">
                    <img src="assets/images/deposit-map.png" alt="">
                  </figure>
                </div>
              </div>
            </div>
            <div id="insert-code" class="tab-pane fade">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="content-box">
                    <h2>Give Your Information to Sender</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                      maecenas</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <a href="javascript:void(0)" class="btn btn-filled btn-round"><span class="bh"></span> <span>Insert
                        code</span></a>
                  </div>
                </div>
                <div class="col-md-6">
                  <figure class="imgBox">
                    <img src="assets/images/internet-bill.png" alt="">
                  </figure>
                </div>
              </div>
            </div>
            <div id="cash-pickup" class="tab-pane fade">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="content-box">
                    <h2>Give Your Information to Sender</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <ul class="steps vertical">
                      <li>
                        <span>1</span>
                        Find a Nearest Location or Wallet
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                      <li>
                        <span>2</span>
                        Confirm Your Identity or Access Wallet
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                      <li>
                        <span>3</span>
                        Confirm Your Access and Request Payment
                        <p>Lorem ipsum qitame coctetr asipm scing elised eiusm tempor incidid untdolore consistal.</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <figure class="imgBox">
                    <img src="assets/images/app-img.png" alt="">
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- System works end -->

  <!-- Home receive money section start -->
  <section class="features-v2">
    <div class="container-fluid">
      <div class="row align-items-md-center">
        <div class="col-md-6">
          <div class="content-box-fluid right">
            <span class="tagline bar">Our Features</span>
            <h2>Access your money anytime, anywhere in the world</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</p>
            <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Quis ipsum suspendisse ultrices gravida. </p>
            <a href="https://vimeo.com/191947042" class="btn btn-outline btn-round icon-left" data-fancybox>
              <span class="bh"></span> <span><i class="fas fa-play"></i>Watch Video</span></a>
          </div>
        </div>
        <div class="col-md-6 nopadd-rth">
          <figure class="recv-img">
            <img src="assets/images/trans-his-2.png" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- Home receive money section end -->

  <!-- Overview section start -->
  <section class="overview">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 m-auto">
          <div class="sec-heading">
            <span class="tagline">General Questions</span>
            <h2 class="sec-title">Get More Information About Us</h2>
            <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-bank"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span></span>

            <h5><a href="javascript:void(0)">Agent & Locations</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/2.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-hand-card"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span></span>

            <h5><a href="javascript:void(0)">Cash Out</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/3.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-mobile-bank"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span></span>

            <h5><a href="javascript:void(0)">Mobile Banking</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="iconBox boxed-shadow text-center">
            <!-- <img src="assets/images/icons/1.png" alt="" class="img-icon"> -->

            <!-- Roysha icon -->
            <span class="roysha-icon roysha-ask"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span></span>

            <h5><a href="javascript:void(0)">Charge & Others</a></h5>
            <p>Lorem ipsum dolor sitame coctetur adipiscing elised do eiusmte</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Overview section end -->
  <app-page-footer></app-page-footer>
</div>
